@{
    ViewBag.Title = "UserAdmin";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

@if (ViewBag.Success != null && ViewBag.Success == true)
{
    <script>
        if (confirm("Success edit user")) {
            window.location.href = "/Admin/Menu?TypeMenu=User"
        } else {
            window.location.href = "/Admin/Menu?TypeMenu=User"

        }
    </script>
}

<div class="colorlib-product" id="homeIndex">
    <div class="container">
        <div class="row">
            <div class="col-sm-8 offset-sm-2 text-center colorlib-heading admin-heading">
                <h2>Edit user</h2>
            </div>
        </div>
        <div id="main-panel">
            <div class="content" style="top: 0px;">
                <form id="login-form" class="loginForm" method="post">
                    @if (ViewBag.Error != null)
                    {
                        <p class="arlet">@ViewBag.Error</p>
                    }
                    <div style="display:none">
                        <input id="sso_login_form_account" name="userid" type="text" value="@ViewBag.User.ID">
                    </div>
                    <div id="line-account" class="line">
                        <p>User Name</p>
                        <input id="sso_login_form_account" name="username" type="text" placeholder="User Name" autocorrect="off" autocapitalize="off" value="@ViewBag.User.UserName">
                    </div>
                    <div id="line-account" class="line">
                        <p>Email</p>
                        <input id="sso_login_form_account" name="email" type="text" placeholder="Email" autocorrect="off" autocapitalize="off" value="@ViewBag.User.Email">
                    </div>
                    <div id="line-btn" class="line btnLine">
                        <input id="btn btn-primary confirm-btn" type="submit" value="Save" class="btn">
                    </div>
                    <div id="line-btn" class="line btnLine">
                        <input id="btn btn-primary" value="Cancel" class="btn" onclick="">
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>


<link rel="stylesheet" href="../css/login.css">
<style>
    .content form div p {
        text-align: center;
        padding-top: 10px;
        font-weight: 700;
    }
</style>
